@import '../../css/main';

#booking {
  height: 100vh;
  padding-top: 25px;
  padding-bottom: 25px;

  & .center {
    top:20vh;
  }
}

.order-data {
  text-align: left;
  width: 50%;
  margin-left:25%;

  a {
    color: $link-color; 
  }
}
 
.user-data {
  text-align: left;
  width: 50%;
  margin-left:25%;
}

.buttons {
  margin-top: 47px;
}

.alert {
  margin-bottom: 0px;
}

label {
  margin-top: 15px;
}

.require {
  margin-top: 47px;
}