@import 'mixins';


$link-color: #006278;
$background-color: hsl(200, 23%, 98%);
$light-color: hsl(200, 23%, 95%);
$light-secondary-color: hsl(200, 23%, 90%);;
$secondary-color: #6B737D;
$dark-color: #373b44;
$free-color: #5ec9ff;
$selected-color: #4db864;
$reserved-color: black;

body {
  background: $background-color;
}

.main-row {
  height: 100vh;
}

.header {
  margin-bottom: 25px;
}

.buttons {
  display: block;
  position: relative;
  margin-top: 25px;

  >.btn {
    margin-left: 25px;

    &:first-child {
      margin-left: 0px;
    }
  }
}

.btn-wide {
  min-width: 75px;
}

.btn-light-secondary {
  background: $light-secondary-color;
  color: $dark-color;
}

.btn-light-secondary:hover {
  background:hsl(200, 23%, 94%);
  color: $dark-color;
}

.btn-light-secondary:active {
  background:hsl(200, 23%, 98%);
}

a {
  color: $link-color;

  &:active {
    color: $link-color;
  }

  &:hover {
    color: gray;
    text-decoration: none;
  }
}
