@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin top_left_width_height($top, $left, $width, $height) {
	top: $top;
	left: $left;
	width: $width;
	height: $height;
}