@import '../../css/main';

#success {
	height: 100vh;
	padding-top: 25px;
	padding-bottom: 25px;

	& .center {
		top: 30vh;
	}

	& .btn {
		margin-top: 30px;
	}

	& .green {
		color: $green-color;
	} 
}
