@import '../../css/main';


$free-color: #5ec9ff;
$selected-color: $green-color;
$reserved-color: black;


.date-selector {
  text-align: center;
  padding: 0px;
}

.room {
  position: relative;
  background: $light-color;
  margin-top: 25px;
  /* for responsive resizing */
  padding-top: 100%;
  width: 100%;

  @include border_radius(5px 5px 0px 0px);
}

.table {
  position: absolute;
  text-align: center;
  border: none;
  margin:0;
  padding: 0;
}

.table-inner {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  bottom: 0;
  margin-top: -12px;
  color: white;
}

.table-free,
.legend-free {
  background: $free-color;
}

.table-reserved,
.legend-reserved {
  background: $reserved-color;
}

.table-selected,
.legend-selected {
  background: $selected-color;
}

.table-free:hover,
.table-selected:hover {
  opacity:0.7;
  cursor: pointer;
}

a.table-free:active,
a.table-selected:active {
  opacity: 0.5;
}

.rectangle {
  @include border_radius(2px);
}

.oval {
  @include border_radius(100px / 50px);
}

/* continuation of the room block */

.legend-block {
  width: 100%;
  background: $light-secondary-color;
  color: $secondary-color;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;

  @include border_radius(0px 0px 5px 5px);
}

.legend {
  display: inline-block;
  width: 8px;
  height: 8px;

  @include border_radius(50%);
}
